/* account main div */

.account {
  /* size */
  width: 1000px;
  min-height: 300px;

  /* spacing */
  margin: 0 auto;

  /* color */
  background-color: #f9f8f8;
}

/* apostContainer */

.account__posts {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* userImg */

.userImg {
  /* size */
  min-width: 290px;
  min-height: 290px;
  max-width: 290px;
  max-height: 290px;
  margin: 4px;
}

.userImg__image {
  object-fit: contain;
  width: fit-content;
  max-width: 290px;
  max-height: 290px;
}
