/* account main div */

.account {
  /* size */
  width: 1000px;
  min-height: 300px;

  /* spacing */
  margin: 0 auto;
  margin-top: 30px;

  /* color */
  background-color: #f9f8f8;
}

.account__header {
  display: flex;
  flex-direction: row;

  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.account__headerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.account__headerInfoUser {
  display: flex;
  flex-direction: row;
}

.account__userDescription {
  /* margin-left: 30px; */
  max-width: 455px;
  max-height: 100px;
  margin-top: 10px;
}

.account__logoutButton {
  height: 40px;
  border-radius: 10px;

  border: 1px solid white;

  cursor: pointer;

  background-color: #e2ebe4;

  user-select: none;
}

.account__logoutButton:hover {
  border-color: #53dd6c;
}

/* apostContainer */

.account__posts {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* userImg */

.userImg {
  /* size */
  min-width: 290px;
  min-height: 290px;
  max-width: 290px;
  max-height: 290px;
  margin: 10px;
}

.userImg__soldItem {
  min-width: 290px;
  min-height: 290px;
  max-width: 290px;
  max-height: 290px;

  z-index: 10;

  position: absolute;
}

.userImg__image {
  object-fit: contain;
  width: fit-content;
  max-width: 290px;
  max-height: 290px;

  position: relative;
  top: 0;
  left: 0;
}
