.cart {
  width: 100%;
}

.cart__header {
  display: flex;
  flex-direction: row;

  height: 100px;
  width: 75%;

  margin-top: 10px;
  margin: 0 auto;

  /* justify-content: space-evenly; */
}

.cart__title {
  margin-left: 450px;
  font-size: 45px;
}

.cart__homeLink {
  margin-top: 10px;
}

.cart__body {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.cart__items {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 500px;

  overflow: auto;
}

.cart__paypal {
  margin: 0 auto;
  width: 50%;
}

.cart__totalDiv {
  width: 90%;
  height: 70px;
  margin: 0 auto;

  /* background-color: #53dd6c; */
}

.cart__total {
  float: right;
  margin-right: 12px;
}

.cart__paypal {
  margin-top: 10px;
}

.cart__totalAmountBox {
  display: flex;
  flex-flow: column-reverse;
}

/* individula cart item css */

.cartItem {
  width: 90%;
  height: 100px;
  background-color: #f9f8f8;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 6px;
  border-radius: 4px;

  justify-content: space-between;
}

.cartItem__img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 20px;
  object-fit: contain;
}

.cartItem__title {
  margin-top: 20px;
}

.cartItem__price {
  margin-top: 20px;

  font-size: 24px;
  color: #53dd6c;
}

.cartItem__size {
  margin-top: 20px;
  font-size: 20px;
}
