.cart {
  width: 100%;
}

.cartItem {
  width: 60%;
  height: 100px;
  background-color: #f9f8f8;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 6px;
  border-radius: 4px;
}

.cartItem__img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 20px;
  object-fit: contain;
}

.cart__body {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.cart__items {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 500px;

  overflow: auto;
}

.cart__paypal {
  width: 50%;
}
