.Home {
  /* background-color: aliceblue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home__posts {
  width: 75%;
}

.home__userNav {
  background-color: #f9f8f8;
  width: 25%;
  height: 70vh;
  margin-right: 5px;
  border-radius: 30px;
  position: fixed;
  right: 0%;
  top: 23%;
  z-index: 99;
}

/* css for the UserNav */

.UserNav {
  padding-top: 5px;
  margin: 0 auto;
}

.userNav__buttonContainer {
  display: flex;
  flex-direction: column;
}

.userNav__button {
  justify-content: space-between;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.userNav__button:hover > .userNav__icon {
  transition: color .3s ease-out;
  color: #53dd6c;
}

.userNav__button p {
  font-size: large;
}

.link {
  text-decoration: none;
  text-decoration-color: none;
  color: black;

  display: flex;
}

.userNav__icon {
  margin-right: 12px;
}

.userNav__icon:hover {
  color: #53dd6c;
}
