.landing {
  padding-top: 30px;
}
.Home {
  /* background-color: aliceblue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home__posts {
  width: 75%;
}

.home__userNav {
  background-color: #f9f8f8;
  width: 25%;
  height: 70vh;
  margin-right: 15px;
  border-radius: 30px;
  position: fixed;
  right: 0%;
  top: 23%;
  z-index: 99;
  box-shadow: 2px 9px 5px 0px #9c9c9c;
}

/* css for the UserNav */

.UserNav {
  padding-top: 5px;
  margin: 0 auto;
}

.userNav__header {
  display: flex;
  flex-direction: row;
}

.userNav__username {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 50px;
}

.userNav__buttonContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.userNav__button {
  /* size */
  height: 60px;
  width: 100%;

  /* spacing */
  padding-top: 5px;

  /* display orientation */
  display: flex;
  flex-direction: row;
}

.userNav__button:hover > .userNav__icon {
  transition: color 0.3s ease-out;
  color: #53dd6c;
}

.userNav__button p {
  font-weight: bold;
  font-size: 30px;
}

.link {
  /* styling */
  text-decoration: none;
  text-decoration-color: none;
  color: black;

  /* border */
  border: 1px solid #f9f8f8;
  border-radius: 18px;

  /* spacing */
  margin-top: 15px;
  margin-bottom: 15px;

  /* orientation */
  display: flex;
}
.link:hover {
  transition: border-color 0.4s ease-out;
  border-color: #53dd6c;
}

.userNav__icon {
  margin-right: 12px;
}


