.post {
  max-width: 900px;
  width: 800px;
  max-height: 650px;
  height: 600px;
  background-color: #f9f8f8;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  margin-left: 25%;
  margin-right: 40%;
  border-radius: 35px;
}

.post__image {
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
  margin-top: 14px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
  border: 1px solid #53dd6c;
}

.post__buttons {
  height: 50px;
  align-content: flex-end;
}

.post__dataBox {
  display: flex;
  flex-direction: row;
}

.post__data {
  display: flex;
  flex-direction: column;
}

.post__moneyData {
  display: inherit;

  margin-left: 15px;
}

/* size container */
.post__sizes {
  background-color: aqua;
  margin-top: 5px;
  padding-left: 5px;
  height: 120px;
}

.post__sizesTitle {
  margin-bottom: 10px;
}

.post__sizeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post__sizeOption {
  min-width: 90px;
  min-height: 48px;
  max-height: 48px;
  max-width: 90px;
  text-align: center;

  margin-left: 2.5px;
  margin-right: 2.5px;

  border-radius: 10px;

  cursor: pointer;

  background-color: bisque;
}
