.userPost {
  width: 1300px;
  height: 750px;
  margin: 0 auto;
  margin-top: 30px;

  background-color: #f9f8f8;
}

.postBox {
  display: flex;
  flex-direction: row;
  width: 1400px;
  height: 650px;
}

.userPost__tempBox {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.userPost__formDiv {
  width: 25%;
  height: 100%;

  margin-left: 20px;
  margin-right: 50px;
}

.userPost__form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.userPost__tempData {
  width: 50%;
}

.userPost__title {
  width: 50%;
  margin-bottom: 5px;
}

.userPost__Description {
  width: 90%;
  margin-bottom: 20px;
}

.userPost__fileInput {
  margin-top: 20px;
  margin-bottom: 10px;
}

.userPost__price {
  width: 40%;
  margin-top: 20px;
}

.userPost__optionList {
  width: 40%;
  margin-top: 80px;
}

.userPost__sizeCount {
  width: 120px;
  margin-left: 12px;
  margin-right: 12px;
}

.MuiInput-marginDense {
  margin-left: 12px;
  margin-right: 12px;
}

.userPost__displayImg {
  width: 400px;
  max-width: 400px;
  height: 500px;
  max-height: 500px;
  object-fit: contain;
  /* object-fit: cover; */
  margin-left: 8px;
  margin-right: 8px;
}

.userPost__temptitle {
  width: 500px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 24px;
}

.userPost__moneyData {
  display: inherit;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 24px;
  color: #53dd6c;
}

.userPost__tempdescription {
  height: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin-top: 14px;
  overflow: auto;
}

.userPost__filterOption {
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}
